
body {
    background-color: #c08660;
    font-family: 'Kosugi Maru', sans-serif;
}

img {
    border: 2px solid #ffffff;
    float: right;
}

.content-1 {
    display: inline-block;
    margin: 20px 20px;
    padding: 0px 20px 0px 20px;
    background-color: #ffffff;
    width: 10%;
}